body {
    background-color: #434242;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .floating-icons {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  
  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    margin: 10px;
    transition: all .3s ease-in-out;
  }
  
  .floating-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .icon {
    display: inline-block;
    background-color: #00acee;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .icon i {
    font-size: 20px;
  }

  .icon.instagram {
    background-color: #833AB4;
  }

  .icon.tiktok {
    background-color: #000;
  }

  .icon.whatsapp {
    background-color: #4AC959;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  canvas {
    position: absolute;
    z-index: -1;
  }
  #beranda {
    padding: 50px;
  }
   /* Mengatur tampilan slider */
   #slideBox {
    width: 80%;
    margin: 0 auto;
}

/* Mengatur tampilan setiap slide */
#slideBox div {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Mengatur tampilan gambar */
#slideBox img {
    display: block;
    margin: 0 auto;
}

/* Mengatur tampilan link */
#slideBox a {
    text-decoration: none;
    color: #333;
}

/* Mengatur tampilan tombol */
#slideBox h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  
  #image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: slidein 5s ease-out infinite;
  }
  .slider .slick-slide {
    margin-top: 100px;
    color: aliceblue;
    border: solid 1px #434242;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
}
.animate__animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}
  
  @keyframes slidein {
    0% {
      transform: translate(-50%, -50%) translateX(-100%);
    }
    100% {
      transform: translate(-50%, -50%) translateX(100%);
    }
  }